<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059449383508-gm5bjqm6md6ldtu28tp0kbvo90t4cimq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059449383508-gm5bjqm6md6ldtu28tp0kbvo90t4cimq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059449383508-d02foaf0fsgvqrjvqds5lh8fimilc93v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ0Cnv0nWJdz-cFzE7kWSes2bApoRi3UE</string>
	<key>GCM_SENDER_ID</key>
	<string>1059449383508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CoinShack</string>
	<key>PROJECT_ID</key>
	<string>coinshack-533be</string>
	<key>STORAGE_BUCKET</key>
	<string>coinshack-533be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059449383508:ios:47b758e169ff75b1</string>
	<key>DATABASE_URL</key>
	<string>https://coinshack-533be.firebaseio.com</string>
</dict>
</plist>